table
    tr
      td Showing stats for : 
      td= url
    tr
      td Total number of open issues : 
      td= stats.f_total_issues 
    tr
      td Issues Raised less than one day ago:
      td= stats.f_less_one_day
    tr
      td IIsses opened more than 24 hours ago but less than 7 days ago  :
      td= stats.f_betw_one_seven
    tr
      td Issues opened more than 7 days ago :
      td= stats.f_more_than_seven
    tr

canvas(id="myChart",width="600",height="400")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js")
script.
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["Total # open issues", "<24 hours ago", "24 hours ago - 7 days", "> 7days ago"],
          datasets: [{
              label: '# of Issues',
              data: [#{stats.f_total_issues}, #{stats.f_less_one_day}, #{stats.f_betw_one_seven}, #{stats.f_more_than_seven}],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
        responsive: false,
        aspectRatio: 1,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
button(onclick="javascript:window.history.go(-1)") Request another link


